<div id="header" class="ui center aligned container">
        <h1 class="ui header" style="margin: 50px auto 15px">
            <a href="/">RYAN WANG</a>
        </h1>
        <a v-on:mouseover="hover1=!hover1" v-on:mouseout="hover1=!hover1" v-bind:class="{contact_logo:!hover1,contact_logo_hover:hover1}"
            href="#"><i class="twitter icon" href="#"></i></a>
        <a v-on:mouseover="hover2=!hover2" v-on:mouseout="hover2=!hover2" v-bind:class="{contact_logo:!hover2,contact_logo_hover:hover2}"
            href="https://github.com/RyanWWW"><i class="github icon"></i></a>
        <a v-on:mouseover="hover3=!hover3" v-on:mouseout="hover3=!hover3" v-bind:class="{contact_logo:!hover3,contact_logo_hover:hover3}"
            href="#"><i class="wechat icon"></i></a>
    </div>