/*-----index content-----*/
.left.aligned.container .ui.header{
    letter-spacing: 2px;
}
.left.aligned.container a{
    text-decoration: none;
    color:#616161;
    transition: color 0.2s ease, border-color 0.2s ease;
}
.left.aligned.container a:hover{
    color:#E57373;
}
.left.aligned.container .tiny.header{
    margin:0;
    color:#BDBDBD;
    width:130px;
    position:absolute;
    left: 0;
    top:2px;
}
.left.aligned.container .large.header{
    text-transform: uppercase;
    margin-left:100px;
    margin-top:0;
}
div.li_item{
    padding:0 !important; 
    position:relative;
    display: inline-block;
    margin: 10px auto 10px auto;
}
@media screen and (max-width: 420px){
.left.aligned.container .large.header{
    margin-left:0;
    margin-top:10px;
}
.left.aligned.container .tiny.header{
    position:static;
}

}